.form-container
  width: 30rem
  margin-top: 10rem
  margin-left: auto
  margin-right: auto
  border-radius: 1rem
  background-color: $card

.form-title
  display: flex
  justify-content: center
  align-items: center
  padding: 2rem
  font-size: 1.25rem
  font-weight: bold
  color: $main
  
.form-items
  margin-top: 1rem
  padding-bottom: 3rem

.form-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 2rem

.form-item__label
  padding-bottom: 1rem

.form-item__text
  width: 15rem
  border: solid 1px $main
  border-radius: 2px

.form-item__select
  display: flex
  justify-content: center
  align-items: center
  width: 5rem
  padding-left: .5rem
  padding-bottom: .35rem
  border-bottom: solid 1px $main
