.form-container
  width: 30rem
  margin: 8rem auto
  border-radius: 1rem
  background-color: $card
  +media-breakpoint-down($sm)
    width: auto
    margin: 4rem 1rem

.form-title
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem
  font-size: 1.25rem
  font-weight: bold
  color: $main
  
.form-items
  margin-top: 1rem
  padding-bottom: .5rem

.form-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 2rem

.form-item__label
  padding-bottom: 1rem

.form-item__text
  width: 15rem
  border: solid 1px $main
  border-radius: 2px

.form-item__select
  display: flex
  justify-content: center
  align-items: center
  width: 5rem
  padding-left: .5rem
  padding-bottom: .35rem
  border-bottom: solid 1px $main

.form-item__link
  font-size: .75rem
  text-decoration: underline
  color: $border

.form-footer
  display: flex
  justify-content: center
  padding: 1.5rem 0
  border-top: solid 1px $border

.form-footer__items-link
  color: $danger
