.welcome-sections
  display: flex
  flex-flow: column wrap
  padding: 5rem 3rem
  +media-breakpoint-down($sm)
    padding: 5rem 0

.welcome-section
  padding-bottom: 5rem
  text-align: center

.welcome-section__title
  padding-bottom: 3rem
  font-size: 1.75rem
  font-weight: bold
  color: $main

.welcome-section__description
  font-size: .875rem
  span
    color: $danger
  p
    line-height: 1.4rem
    padding-bottom: 2rem
  +media-breakpoint-down($sm)
    padding: 0 1rem

.welcome-section__action-items
  display: inline-flex
  padding-top: 3rem
  +media-breakpoint-down($sm)
    flex-flow: column wrap

.welcome-section__action-item
  padding: 0 1rem
  +media-breakpoint-down($sm)
    padding: .5rem 0

.welcome-section__action-item__signup
  display: block
  padding: 1.125rem 3rem
  border-radius: .5rem
  font-size: .75rem
  font-weight: bold
  background-color: $accent

.welcome-section__action-item__login
  display: block
  padding: 1.125rem 4rem
  border: dotted 1px $main
  border-radius: .5rem
  font-size: .75rem
  font-weight: bold
  color: $main

.welcome-small-section__body
  display: flex
  flex-flow: row wrap
  +media-breakpoint-down($sm)
    flex-flow: column wrap

.welcome-small-section__column
  flex-direction: column
  flex-basis: 50%

.welcome-small-section__inner
  display: flex
  flex-direction: column
  align-items: center
  height: 20rem
  margin: 2rem
  padding: 1.5rem
  border: dashed 1px $main
  border-radius: 7.5px
  +media-breakpoint-down($md)
    margin: 1rem
  +media-breakpoint-down($sm)
    margin: 1rem 0
    height: 20rem

.welcome-small-section__title
  padding-bottom: 2rem
  font-size: 1.75rem
  font-weight: bold
  color: $main

.welcome-small-section__sub-title
  position: absolute
  font-weight: bold
  color: $main
  span
    color: $danger

.welcome-small-section__icon
  position: relative
  top: .5em

.welcome-small-section__description
  position: relative
  top: .5em
  font-size: .75rem
  br
    display: none
  p
    padding-bottom: .5rem
    line-height: 1.25rem
  +media-breakpoint-down($md)
    br
      display: block
