.work-header
  display: flex
  justify-content: space-between
  align-items: center
  text-align: center
  padding: 1rem 3.75rem
  border-bottom: dashed 1px
  font-size: 2rem
  color: $main
  +media-breakpoint-down($sm)
    flex-direction: column
    padding: 1rem
    font-size: 1.5rem

.work-header__title
  display: flex
  align-items: center

.work-header__title-item
  margin-left: .5rem
  font-size: 1.5rem
  color: $border

.work-header__deadline
  span
    padding: 0 .5rem
    color: $danger
  +media-breakpoint-down($sm)
    display: none

.work-item__list
  background-color: #eee
  padding: .75rem 1rem
  border-bottom: solid 1px black
  position: relative
  &:last-child
    border-bottom: none
  &:nth-child(odd)
    background-color: #fafafa
