.works-table
  width: 60%
  margin-top: 4rem
  margin-left: auto
  margin-right: auto
  background-color: $card
  +media-breakpoint-down($md)
    width: 80%
  +media-breakpoint-down($sm)
    margin-top: 2rem
    width: 100%

.works-table__head
  display: flex
  justify-content: center
  border-top-left-radius: 7.5px
  border-top-right-radius: 7.5px
  background-color: $main
  padding: 1rem
  color: $reversal

.works-table__thread
  display: flex
  justify-content: space-around
  align-items: center
  padding: 1rem 5rem
  border-bottom: solid 1px $border
  +media-breakpoint-down($sm)
    flex-flow: column wrap
    padding: 1rem 2rem

.works-table__title
  display: inline-flex
  flex-basis: 60%
  justify-content: center
  +media-breakpoint-down($sm)
    padding: 2rem 0

.works-table__link
  color: $main
  text-decoration: underline

.works-table__buttons
  display: inline-flex
  flex-basis: 40%

.works-table__button
  margin: 0 .5rem
  padding: .5rem 1rem
  border-radius: 2rem
  font-size: .75rem
  white-space: nowrap
  color: $reversal

.works-tools
  width: 60%
  margin-left: auto
  margin-right: auto
  margin-bottom: 8rem
  border-bottom-left-radius: 7.5px
  border-bottom-right-radius: 7.5px
  background-color: $card
  +media-breakpoint-down($md)
    width: 80%
  +media-breakpoint-down($sm)
    margin-bottom: 4rem
    width: 100%

.works-tool
  display: flex
  justify-content: center
  padding: 2rem
