.work-item__list
  background-color: #eee
  padding: .75rem 1rem
  border-bottom: solid 1px black
  position: relative
  &:last-child
    border-bottom: none
  &:nth-child(odd)
    background-color: #fafafa

.work-deadline
  width: 30rem
  margin: 6rem auto
  padding: 3rem
  border-radius: 2rem 
  background-color: #eee
  +media-breakpoint-down($sm)
    width: auto
    margin: 2rem auto

.work-deadline__items
  display: flex
  justify-content: center
  align-items: flex-end
  +media-breakpoint-down($lg)
    flex-direction: column
    justify-content: flex-end
    align-items: center

.work-deadline__item
  font-size: 2rem
  font-weight: bold
  color: $main
  +media-breakpoint-down($sm)
    font-size: 1.5rem
  span
    font-size: 3rem
    color: $danger
    position: relative
    bottom: -4px
    +media-breakpoint-down($sm)
      font-size: 2rem
      bottom: -2px
