.works-table
  width: 40rem
  margin-top: 10rem
  margin-left: auto
  margin-right: auto
  background-color: $card

.works-table__head
  background-color: $main
  padding: 1rem
  color: $reversal

.works-table__thread
  display: flex
  border-bottom: solid 1px $border

.works-table__title
  display: flex
  flex-basis: 65%
  justify-content: center
  padding: 1rem 3rem

.works-table__buttons
  display: flex
  flex-basis: 35%

.works-table__button
  margin-left: 1.5rem
  padding: .5rem 1rem
  border-radius: 2rem
  font-size: .75rem
  color: $reversal

.works-tools
  width: 40rem
  margin-left: auto
  margin-right: auto
  background-color: $card

.works-tool
  display: flex
  justify-content: center
  padding: 2rem
