.card-list-items
  display: flex
  padding: 2rem
  background-color: $card
  &:nth-child(even)
    background-color: $card-shade
  &:not(:last-child)
    border-bottom: solid 1px $border
  &:last-child
    border-bottom-left-radius: 7.5px
    border-bottom-right-radius: 7.5px

.card-list-item
  display: inline-flex
  flex: 100
  justify-content: space-between
  align-items: center
  flex-flow: row wrap

.card-list-item__number
  font-size: 1.75rem
  font-weight: bold
  color: $main

.card-list-item__actions
  color: $border
