.card-tabs
  background-color: $main
  border-top-left-radius: 7.5px
  border-top-right-radius: 7.5px
  overflow-x: auto
  overflow-y: hidden

.card-tabs__items
  display: flex

.card-tabs__item
  display: inline-flex

.card-tabs__item-link
  display: flex
  align-items: center
  justify-content: center
  min-width: 7.5rem
  padding: 1rem
  margin-top: .5rem
  margin-left: .5rem
  border-top-left-radius: 7.5px
  border-top-right-radius: 7.5px
  background-color: $main
  color: $reversal
  font-size: .75rem
  font-weight: bold
  
.is-active
  background-color: $card
  color: $main

.card-tabs__icon
  display: flex
  position: relative
  left: 2rem
  top: 1.35rem
  color: $reversal
