.card-list-items
  display: flex
  flex: 100
  padding: 2rem 4rem
  justify-content: space-between
  background-color: $card
  &:nth-child(even)
    background-color: $card-shade
  &:not(:last-child)
    border-bottom: solid 1px $border
  &:last-child
    border-bottom-left-radius: 7.5px
    border-bottom-right-radius: 7.5px
  +media-breakpoint-down($sm)
    padding: 2rem
    flex-direction: column

.card-list-item
  display: flex
  flex-flow: row wrap
  align-items: center
  +media-breakpoint-down($sm)
    justify-content: space-around
    &:not(:last-child)
      margin-bottom: 2rem

.card-list-item__number
  display: inline-flex
  margin-right: 2rem
  font-size: 1.75rem
  font-weight: bold
  color: $main
  +media-breakpoint-down($sm)
    margin-right: 0

.card-list-item__actions
  color: $border
  margin-left: 2rem
  +media-breakpoint-up($xl)
    margin-left: 4rem
  +media-breakpoint-down($sm)
    display: none
