.header__container
  display: flex
  flex-flow: row wrap
  padding: 1rem 4rem
  justify-content: space-between
  align-items: center
  background-color: $main
  color: $reversal
  +media-breakpoint-down($sm)
    flex-flow: column wrap
    padding: 1rem 2rem
    justify-content: center
    align-items: flex-end

.header-title
  font-size: 2rem

.header-menu__items
  display: inline-flex
  +media-breakpoint-down($sm)
    display: none

.header_menu__item
  margin: 0 2rem
  +media-breakpoint-down($sm)
    margin: 0 0 1rem 0
