.header__container
  display: flex
  justify-content: space-between
  align-items: center
  height: 60px
  background-color: $main
  color: $reversal

.header-title
  display: flex
  padding-left: 5rem
  font-size: 30px

.header-menu__items
  display: flex
  padding-right: 5rem

.header_menu__item
  padding-right: 2rem
  

