html
  font-family: $default_font
  color: $default-text

.wrapper
  margin-left: auto
  margin-right: auto

.is-left-icon
  padding-right: .5rem

.is-primary
  background-color: $accent

.is-secondary
  background-color: $secondary

.is-info
  background-color: $info

.is-danger
  background-color: $danger
