.page-matter
  display: flex
  justify-content: center
  
.page-matter__button
  display: flex
  align-items: center
  padding: .5rem 1rem
  border: solid 1px $danger
  border-radius: .5rem
  background-color: $secondary
  color: $danger
  cursor: pointer
  white-space: nowrap
  &.is-active
    background-color: $danger
    color: $reversal

.page-matter__icon
  position: relative
  font-size: 1.75rem

.page-matter__text
  font-size: .75rem
  font-family: sans-serif
  font-weight: bold
