.stages-table
  width: 50%
  margin-top: 10rem
  margin-left: auto
  margin-right: auto
  border-top-left-radius: 7.5px
  border-top-right-radius: 7.5px
  background-color: $card

.stages-table__head
  display: flex
  justify-content: center
  padding: 1rem
  border-bottom: solid 1px $border
  color: $main

.stages-table__thread
  display: flex
  border-bottom: solid 1px $border

.stages-table__title
  display: flex
  flex-basis: 60%
  justify-content: center
  padding: 1rem 3rem

.stages-table__link
  &:hover
    text-decoration: underline

.stages-table__buttons
  display: flex
  flex-basis: 40%

.stages-table__button
  margin-left: 1.5rem
  padding: .5rem 1rem
  border-radius: 2rem
  font-size: .75rem
  color: $reversal

.stages-tools
  width: 50%
  margin-left: auto
  margin-right: auto
  border-bottom-left-radius: 7.5px
  border-bottom-right-radius: 7.5px
  background-color: $card

.stages-tool
  display: flex
  justify-content: center
  padding-top: 1.5rem
  &:last-child
    padding-bottom: 1.5rem

.stages-tool__button
  padding: 1rem 3rem
  border: dotted 1px $main
  color: $main
  background-color: $secondary
  
