.stages-table
  width: 50%
  margin-top: 8rem
  margin-left: auto
  margin-right: auto
  border-top-left-radius: 7.5px
  border-top-right-radius: 7.5px
  background-color: $card
  +media-breakpoint-down($md)
    width: 75%
  +media-breakpoint-down($sm)
    margin-top: 4rem
    width: 100%

.stages-table__head
  display: flex
  justify-content: center
  padding: 1rem
  border-bottom: solid 1px $border
  color: $main

.stages-table__thread
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center
  padding: 1rem 5rem
  border-bottom: solid 1px $border

.stages-table__name
  display: inline-flex
  flex-basis: 60%
  justify-content: center
  +media-breakpoint-down($sm)
    padding-bottom: 1rem

.stages-table__link
  &:hover
    text-decoration: underline

.stages-table__buttons
  display: inline-flex
  flex-basis: 40%

.stages-table__button
  margin: 0 .5rem
  padding: .5rem 1rem
  border-radius: 2rem
  font-size: .75rem
  white-space: nowrap
  color: $reversal

.stages-tools
  width: 50%
  margin-left: auto
  margin-right: auto
  border-bottom-left-radius: 7.5px
  border-bottom-right-radius: 7.5px
  background-color: $card
  +media-breakpoint-down($md)
    width: 75%
  +media-breakpoint-down($sm)
    width: 100%

.stages-tool
  display: flex
  justify-content: center
  padding-top: 1.5rem
  &:last-child
    padding-bottom: 1.5rem

.stages-tool__button
  padding: 1rem 3rem
  border: dotted 1px $main
  color: $main
  background-color: $secondary
  
